@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2563eb;
  --color-success: #10b981;
  --color-accent: #38bdf8;
  --color-secondary: #1e293b;
  --color-ghost: #475569;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-base-200: #e5edf0;
}
* {
  font-family: "Urbanist", sans-serif;
}
.glass-card {
  width: 240px;
  height: 210px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glass-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}
.txt {
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #fff 10%, #2563eb 20%);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.banner-clip-left {
  clip-path: polygon(0 0, 89% 0, 91% 13%, 100% 68%, 100% 100%, 0 100%);
}
.banner-clip-right {
  clip-path: polygon(100% 0, 11% 0, 8% 18%, 0 70%, 0 100%, 100% 100%);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/* IMAGE CLIP */
.clip-top-left {
  clip-path: polygon(0% 0, 20% 0, 100% 100%, 0 100%, 0 20%);
}

/* ISSUES CARD */

.card-inner .box .icon {
  position: absolute;
  bottom: -0.375rem;
  right: -0.375rem;
  background: #fff;
  border-top-left-radius: 50%;
  z-index: 10;
}
.icon::before {
  position: absolute;
  content: "";
  bottom: 0.375rem;
  left: -1.25rem;
  background: transparent;
  width: 1.5rem;
  height: 1.5rem;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0.313rem 0.313rem 0 0.313rem #fff;
}

.icon::after {
  position: absolute;
  content: "";
  top: -1.25rem;
  right: 0.375rem;
  background: transparent;
  width: 1.5rem;
  height: 1.5rem;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0.313rem 0.313rem 0 0.313rem #fff;
}

/* FEATURE CARD */
.features .feature {
  transition: all 0.4s ease;
}

.features .feature:hover {
  transform: scale(1.1);
}

/* only sibling cards of hovered card blur */
.features .feature:hover ~ .feature,
.features .feature:hover + .feature,
.features .feature:hover ~ .feature {
  filter: blur(10px);
  transform: scale(0.9);
}

/* ANIMATIONS */
/* DASHBOARD SIDEBAR */
/* Fancy Action Button */
.magicBtn {
  --btn-text: "Button";
  --btn-bg: #38bdf8;
  --btn-text-color: #363636;
  --btn-border: #363636;

  width: 112px;
  height: 40px;

  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;

  border: 1px solid var(--btn-border);
  background: transparent;
  color: transparent;
  cursor: pointer;

  position: relative;
  overflow: hidden;
  border-radius: 20px;
  font-family: inherit;
}
@keyframes elastic {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-12px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-elastic {
  animation: elastic 3s ease-in-out forwards;
}
@keyframes bounceX {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}

/* CHOREOGRAPHY CYCLING */
.animate-seq-1 {
  animation: bounceX 3s ease-in-out infinite;
  animation-delay: 0s;
}

.animate-seq-2 {
  animation: bounceX 6s ease-in-out infinite;
  animation-delay: 1s;
}

.animate-seq-3 {
  animation: bounceX 9s ease-in-out infinite;
  animation-delay: 1.5s;
}

/* FRONT */
.magicBtn::before {
  content: var(--btn-text);
  position: absolute;
  inset: 0;
  background-color: var(--btn-bg);
  color: var(--btn-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  border-radius: 20px;
}

/* FRONT EXIT */
.magicBtn:hover::before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}

/* BACK */
.magicBtn::after {
  content: var(--btn-text);
  position: absolute;
  inset: 0;
  left: -100%;
  background-color: var(--btn-bg);
  color: var(--btn-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  transform: scale(0);
  opacity: 0;
  border-radius: 20px;
}

/* BACK ENTER */
.magicBtn:hover::after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}

/* FEEDBACK */

.testimony-inner .testimony-box .testimony-icon {
  position: absolute;
  bottom: -0.375rem;
  right: -0.375rem;
  background: #fff;
  border-top-left-radius: 50%;
  z-index: 10;
}
.testimony-icon::before {
  position: absolute;
  content: "";
  bottom: 0.25rem;
  left: -1.45rem;
  background: transparent;
  width: 1.5rem;
  height: 2.3rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0.313rem 0.313rem 0 0.313rem #fff;
}

.testimony-icon::after {
  position: absolute;
  content: "";
  top: -1.5rem;
  right: 0.375rem;
  background: transparent;
  width: 1.5rem;
  height: 1.5rem;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0.313rem 0.313rem 0 0.313rem #fff;
}

/* Testimony Left Side */
.middle::before {
  position: absolute;
  content: "";
  top: 4px;
  right: -24px;
  background: transparent;
  width: 1.5rem;
  height: 2.3rem;
  border-top-left-radius: 20px;
  box-shadow: -0.313rem -0.313rem 0 0.313rem #fff;
}
.middle::after {
  position: absolute;
  content: "";
  top: 20px;
  right: -16px;
  background: transparent;
  width: 1rem;
  height: 2rem;
  border-bottom-left-radius: 20px;
  box-shadow: -0.14rem 0.3rem 0 0.1rem white;
}
.second::after {
  position: absolute;
  content: "";
  top: 64px;
  right: 35px;
  background: transparent;
  width: 1.85rem;
  height: 1.5rem;
  border-top-left-radius: 1.25rem;
  box-shadow: -0.313rem -0.313rem 0 0.313rem white;
}
.left-overlay::before {
  position: absolute;
  content: "";
  top: -180px;
  left: 345px;
  background: transparent;
  width: 10px;
  height: 180px;
  transform: scaleX(0.2);
  transform-origin: top;
  border-top-left-radius: 1.25rem;
  box-shadow: -0.313rem -0.313rem 0 0.13rem white;
}
.left-overlay::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 95px;
  background: transparent;
  width: 245px;
  height: 1px;
  transform: scaleY(0.2);
  transform-origin: top;
  border-top-left-radius: 1.25rem;
  box-shadow: -0.313rem -0.313rem 0 0.313rem white;
}
.right-overlay::before {
  position: absolute;
  content: "";
  top: 20px;
  right: 345px;
  background: transparent;
  width: 1px;
  height: 130px;
  transform: scaleX(0.2);
  transform-origin: top;
  border-top-left-radius: 1.25rem;
  box-shadow: -0.313rem -0.313rem 0 0.313rem white;
}
.right-overlay::after {
  position: absolute;
  content: "";
  top: 5px;
  right: 95px;
  background: transparent;
  width: 240px;
  height: 1px;
  transform: scaleY(0.2);
  transform-origin: top;
  border-top-left-radius: 1.25rem;
  box-shadow: -0.313rem -0.313rem 0 0.313rem white;
}
.wave::before,
.wave::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 84px;
  border: 2px solid #2563eb;
  border-radius: 35px;
  transform: translate(-50%, -50%) scale(1);
  animation: sonar-wave 2s infinite;
  opacity: 0;
}

.wave::after {
  animation-delay: 1s;
  border-color: #fff;
}

@keyframes sonar-wave {
  0% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0.5;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.15);
    opacity: 0.25;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
}
@keyframes elasticBounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-12px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-elasticBounce {
  animation: elasticBounce 3s ease-in-out infinite;
}

.loader-wave::before,
.loader-wave::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  border: 2px solid #2563eb;
  border-radius: 100%;
  transform: translate(-50%, -50%) scale(1.5);
  /* animation: sonar-wave 2s infinite; */
  opacity: 1;
}
.loader-wave::before,
.loader-wave::after {
  content: "";
  position: absolute; /* absolute, relative parent er context e */
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid #2563eb;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  animation: load-wave 2s infinite; /* uncomment kore animation dao */
}
@keyframes load-wave {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
}

.loader-wave::after {
  animation-delay: 1s; /* second wave delayed for continuous effect */
}
